<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/posts">Nav 1</a></li>
        <li><a href="/posts/1">Nav 2</a></li>
        <li><a href="/posts/new">Nav 3</a></li>
      </ul>
    </div>
  </nav>
</header>
